<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>  
        $(document).ready(function() {  
            $('#submit-button').click(function() {  
                var fileInput = $('#file-input')[0];  
                var file = fileInput.files[0];  
                var formData = new FormData();  
                formData.append('file', file);  
                $.ajax({  
                    url: 'http://192.168.1.225:9000/pjcloud-10007/2023-11-07/2ee34699d25f4fd48eef497a38d67bba.docx?uploadId=ODEwYjVlMDEtYTI2Zi00YmM1LWE2Y2MtYmMxM2JiOWU1MGY5LjdhZGUwN2FhLWVkMWUtNDEyZS1iNWQ4LWZjMzI2OWI5ZjMwNQ&partNumber=3&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20231107T091816Z&X-Amz-SignedHeaders=host&X-Amz-Expires=599&X-Amz-Credential=sNTbSRegtbpwFKs4QPxI%2F20231107%2FUS_EAST_1%2Fs3%2Faws4_request&X-Amz-Signature=d7c8a94db76cb0b28e978b9a3f142fbb420abbaed78d6b396a823831753b9e68',  
                    type: 'PUT',  
                    processData: false,  
                    contentType: 'application/octet-stream',  
                    data: formData,  
                    success: function(response) {  
                        console.log('File uploaded successfully!');  
                        // 在这里可以执行其他操作，如显示消息或更新页面等。  
                    },  
                    error: function(xhr, status,error) {  
                        console.log('File upload error: ' + error);  
                    }  
                });  
            });  
        });  
    </script>
</head>
<body>
<h1>File Upload</h1>
<input type="file" id="file-input">
<button id="submit-button">Upload File</button>
</body>
</html>